extends ../layout.jade

block title
  | Devices

block content

  // Connected to Particle
  if currentAccount.particleAccessToken

    .pull-right
      a.btn.btn-primary.m-r-1(href='/devices/publish')
        i.fa.fa-refresh.p-r-1
        | Publish devices member list
      a.btn.btn-secondary-outline(href='/auth/particle/logout') Logout of Particle →

    h1 Devices

    if devices.length
      table.table
        thead
          tr
            th Name
            th Connected
            th ID
            th Last Communication
            th
        tbody
          for device in devices
            tr
              td= device.name
              td
                if device.connected
                  i.fa.fa-check.text-success
                else
                  i.fa.fa-times.text-danger
              td
                em.text-muted= device.id
              td
                time.help(datetime=device.lastHeard title=device.lastHeard)= moment(device.lastHeard).fromNow()
              td
                form(action='/devices/#{device.id}/flash' method='post')
                  button.btn.btn-secondary-outline.btn-sm(type='submit')
                    i.fa.fa-flash.p-r-1
                    | Flash
    else
      p.text-muted No devices available...

  else

    .row
      .col-sm-6.col-sm-offset-3
        h1 Login with Particle
        p
          | Before you can connect any door locks, you need to authenticate with
          = ' '
          a(href='https://particle.io' target='_blank') Particle

        form(action='/auth/particle/login' method='post')
          fieldset.form-group
            input.form-control(name='username' type='text' placeholder='Username')
          fieldset.form-group
            input.form-control(name='password' type='password' placeholder='Password')
          p
            button.btn.btn-primary(type='submit') Login →

