doctype html
html
  head
    title
      block title
      = ' '
      | 🔒 Sentry
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Kadwa:700|Raleway:200,400,700' rel='stylesheet' type='text/css')
    link(href='/styles/index.css' rel='stylesheet' type='text/css')
  body

    nav(class='navbar navbar-light bg-faded')
      .container
        a(class='navbar-brand' href='/')
          strong Sentry
          em.p-l-1= config.COBOT_SUBDOMAIN

        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(href='/') Memberships
          li.nav-item
            a.nav-link(href='/devices') Devices

        .navbar-text.pull-right
          if currentAccount
            i.fa.fa-check
            = ' '
            span.text-muted.p-r-1 Authenticated
            a.btn.btn-primary-outline.btn-sm(href='/auth/cobot/login')
              | Reauthenticate
              = ' '
              i.fa.fa-sign-in
          else
            a.btn.btn-primary.btn-sm(href='/auth/cobot/login')
              | Authenticate with Cobot
              = ' '
              i.fa.fa-sign-in

    .container
      for type in ['success', 'info', 'warning', 'danger']
        if messages[type]
          .alert(class='alert-#{type}').m-b-lg
            = messages[type]
            if messages.link
              | &nbsp;
              a(href=messages.link[1])= messages.link[0]

      block content
