doctype html
html
  head
    title
      block title
      = ' '
      | 🔒 Sentry
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,200,400,700' rel='stylesheet' type='text/css')
    link(href='/styles/index.css' rel='stylesheet' type='text/css')
  body

    nav.navbar.navbar-dark.bg-inverse
      .container
        a.navbar-brand(href='/')
          strong SENTRY
          span.text-muted.p-l-1= config.COBOT_SUBDOMAIN

        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(href='/') Memberships
          li.nav-item
            a.nav-link(href='/devices') Devices

        .navbar-text.pull-right
          if currentAccount && currentAccount.cobotAccessToken
            span.text-muted.p-r-1
              i.fa.fa-check
              = ' '
              | Authenticated
            span.btn-group
              a.btn.btn-secondary-outline.btn-sm(href='/auth/cobot/login')
                i.fa.fa-refresh.p-r-1
                | Re-authenticate
              a.btn.btn-secondary-outline.btn-sm(href='/auth/cobot/logout')
                | Logout of Cobot
                i.fa.fa-sign-in.p-l-1
          else
            a.btn.btn-primary.btn-sm(href='/auth/cobot/login')
              | Authenticate with Cobot
              = ' '
              i.fa.fa-sign-in

    .container
      for type in ['success', 'info', 'warning', 'danger']
        if messages[type]
          .alert(class='alert-#{type}').m-b-3
            if type === 'success'
              i.fa.fa-check.p-r-1
            if type === 'danger'
              i.fa.fa-times.p-r-1
            if type === 'warning'
              i.fa.fa-exclamation-triangle.p-r-1
            if type === 'info'
              i.fa.fa-info-circle.p-r-1
            = messages[type]
            if messages.link
              | &nbsp;
              a(href=messages.link[1])= messages.link[0]

      block content

  footer.footer.m-t-3
    .container
      p.text-muted.text-md-right
        small
          | Powered by
          = ' '
          a(href='https://github.com/danawoodman/sentry' target='_blank') Sentry
