//----------------------------------
// Bootstrap configuration
//----------------------------------

// Colors
$brand-primary: #74cced;

// Fonts
$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-serif: 'Kadwa', serif;

// General type
$line-height: 1.6;
$display1-weight: 400;
$display2-weight: 400;
$display3-weight: 400;
$display4-weight: 400;

// Forms
$input-border-radius: 1px;

// Buttons
$btn-border-radius: 20px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: 30px;

// Headings
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 200;
$headings-color: black;
$font-size-h1: 2.5rem;
$font-size-h3: 1.5rem;


//----------------------------------
// FontAwesome configuration
//----------------------------------

$fa-font-path: '/fonts';
