@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/font-awesome/scss/font-awesome';

.navbar {
  background-color: $brand-purple;
  color: $brand-tan;
  margin-bottom: 3rem;

  .text-muted {
    color: lighten($brand-purple, 30%);
  }

  a {
    color: $brand-tan;
  }

  .navbar-text {
    padding: 0.465rem 0.2rem;
  }
}


h1 {
  border-bottom: 1px solid $gray-lighter;
  margin: 2rem 0 1.5rem;
  padding-bottom: 0.5rem;
}
h3 {
  font-weight: 400;
  margin: 2rem 0 1rem 0;
}
